@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 48px;
font-style: normal;
padding-left: 20px;
}.flaticon-email131:before {
	content: "\e000";
	content:#191e28;
}
.flaticon-facebook2:before {
	content: "\e001";
	color:#131F7D;
}
.flaticon-instagram19:before {
	content: "\e002";
	color:#432C16;
}
.flaticon-twitter:before {
	content: "\e003";
	color:#55acee;
}
.flaticon-youtube30:before {
	content: "\e004";
	color:#901818;
}
